<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <title>Memory game</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div id="app">

        <div class="container">

            <div class="d-flex my-3" v-for="index1 in [0, 1, 2]">
                <carte-memoire v-for="index2 in [0, 1, 2, 3]"
                    :image="tabImage[tabRandomPosition[index1 * 3 + index2] % 6]" :key="'carte' + index1 * 3 + index2"
                    :position="index1 * 3 + index2" @click-carte="tourne">
                </carte-memoire>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./app.js"></script>
</body>

</html>