*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Righteous', cursive;
    background: #051923;
}

h1 {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Righteous', cursive;
}

.carte-pokemon {

}

.carte-pokemon img {
}

.cherche-move {
    transition: 1s all;
}